[submodule "third_party/yt-dlp"]
	path = third_party/yt-dlp
	url = https://github.com/yt-dlp/yt-dlp.git
[submodule "third_party/yt-dlp-ejs"]
	path = third_party/yt-dlp-ejs
	url = https://github.com/yt-dlp/ejs.git
[submodule "third_party/gallery-dl"]
	path = third_party/gallery-dl
	url = https://codeberg.org/mikf/gallery-dl.git
[submodule "third_party/requests"]
	path = third_party/requests
	url = https://github.com/psf/requests.git
[submodule "third_party/urllib3"]
	path = third_party/urllib3
	url = https://github.com/urllib3/urllib3.git
[submodule "third_party/idna"]
	path = third_party/idna
	url = https://github.com/kjd/idna.git
[submodule "third_party/certifi"]
	path = third_party/certifi
	url = https://github.com/certifi/python-certifi.git
[submodule "third_party/charset_normalizer"]
	path = third_party/charset_normalizer
	url = https://github.com/jawah/charset_normalizer.git
