<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UnfurlitApplication"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unfurlit"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- YouTube watch, Shorts, and live links. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="music.youtube.com" />
                <data android:path="/watch" />
                <data android:pathPrefix="/shorts/" />
                <data android:pathPrefix="/live/" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="youtu.be" />
            </intent-filter>

            <!-- Reddit posts, comments, galleries, and short links. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="reddit.com" />
                <data android:host="www.reddit.com" />
                <data android:host="old.reddit.com" />
                <data android:pathPattern="/r/.*/comments/.*" />
                <data android:pathPrefix="/comments/" />
                <data android:pathPrefix="/gallery/" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="redd.it" />
            </intent-filter>

            <!-- X and Twitter status links. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="x.com" />
                <data android:host="www.x.com" />
                <data android:host="twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/.*/status/.*" />
                <data android:pathPrefix="/i/status/" />
            </intent-filter>

            <!-- Instagram posts, reels, and legacy IGTV links. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:pathPrefix="/p/" />
                <data android:pathPrefix="/reel/" />
                <data android:pathPrefix="/tv/" />
            </intent-filter>

            <!-- TikTok videos and redirect links. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="tiktok.com" />
                <data android:host="www.tiktok.com" />
                <data android:host="m.tiktok.com" />
                <data android:pathPattern="/.*/video/.*" />
                <data android:pathPattern="/.*/photo/.*" />
                <data android:pathPrefix="/t/" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vm.tiktok.com" />
                <data android:host="vt.tiktok.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>
